<!-- your html code here -->
<div class="container-fluid bg-white me-5">
    <div class="row">
        <div class="col-7" justify-text-end>
            <div class="caja1">
                <div class="izqcaja">
                    <h1 class = "titular-caja" ><strong>The First Heading </strong> <span style="color: #929292">Will
                            Catch Your Eye</span></h1>
                    <p id="HeadingText"> Donec ullamcorper nulla non metus auctor <br> more text we need more text to
                        fill up this part <br>
                        more text we need more text to fill up this part more text we need <br>
                        more text to fill up this part</p>
                </div>
            </div>
        </div>
        <div class="col-3" align-items-end>
            <img id="breakingbad"
                src="https://c.wallhere.com/photos/9f/19/Breaking_Bad_face_Heisenberg_Walter_White_hat_digital_art-1535735.jpg!d"
                width="150" height="150">
        </div>
    </div>
</div>
