<!-- your html code here -->
<div class="container-fluid bg-white me-5">
  <div class="row">
    <div class="col-5 d-flex justify-content-end">
      <img id="keyboard"
        src="https://as2.ftcdn.net/v2/jpg/01/52/07/79/1000_F_152077982_6N3gUvYCUXbnCd7kQUL3dBAULMAEhCUe.jpg"
        width="150" height="150">
    </div>
    <div class="col-4" text-center>
      <div class="caja2">   
        <div class="izqcaja">
          <h1 class="titular-caja"><strong>The Second Heading  </strong> <span style="color: #929292">Is pretty cool too</span></h1>
          <p id="HeadingText"> Donec ullamcorper nulla non metus auctor <br> more text we need more text to
            fill up this part <br>
            more text we need more text to fill up this part more text we need <br>
            more text to fill up this part</p>
        </div>
      </div>
    </div>

  </div>
</div>